fail_fast: false
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: bash -c "cd $(git rev-parse --show-toplevel) && black lab2/app"
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: bash -c "cd $(git rev-parse --show-toplevel) && isort lab2/app"
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: bash -c "cd $(git rev-parse --show-toplevel)/lab2 && pylint app --ignore=migrations"
        pass_filenames: false
        language: system

